.home-section{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: url(https://res.cloudinary.com/nogacloud/image/upload/v1667305431/portfolio/%D7%A8%D7%A7%D7%A2.jpg) top center no-repeat #bababa;
    filter: grayscale(85%);
    background-size: cover;
    // color: #fff;
    padding-left: 110px;
    padding-top: 130px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
    font-size: 12px;
}