
$lav: #d5b3ff;
$txt1: #272727;
$light-bgs: #FDF8E1;
$light-y: #FCEFB4;
$med-y: #FAE588;
$dark-y: #F9DC5C;
$txt-l: #f2f1ea;

$sf-p: url(https://res.cloudinary.com/nogacloud/image/upload/v1665132477/portfolio/minimal-sunflower-pointer.png), auto;