.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}
  
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}
  
.modal-container {
    width: 60vw;
    max-width: 1600px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    // opacity: 0;
    transition: modalContentFadeIn 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
    color: #42b983;
}
  
.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}
  
.modal-body {
    margin: 20px 0;
}
  
.modal-default-button {
    float: right;
    background: none;
    border: none;

    svg{
        cursor: $sf-p;
    }
}

.modal-default-button:hover{
    color:black;
}

.work-details{
    padding: 20px 30px;
}
  
.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.modal-container{
    img{
        width: 90%;
    }
}

// .modal-container.visible {
//     transform: scale(1);
  
//     transition:
//       transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
//       opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
// }